{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<div class="container d-flex justify-content-center align-items-center vh-100">
		<div class="card p-4" style="width: 100%; max-width: 400px;">
			<div class="card-body p-2">
				<form method="post">
					{% if error %}
						<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
					{% endif %}

					{% if app.user %}
						<div class="mb-3">
							You are logged in as
							{{ app.user.userIdentifier }},
							<a href="{{ path('app_logout') }}">Logout</a>
						</div>
					{% endif %}

					<h1 class="h3 mb-3 font-weight-normal text-center">Login</h1>
					<div class="form-group p-2">
						<label class="p-2" for="inputEmail">Email</label>
						<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
					</div>
					<div class="form-group p-2">
						<label class="p-2" for="inputPassword">Password</label>
						<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>
					</div>

					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

					<div class="checkbox mb-3 p-2">
						<label>
							<input type="checkbox" name="_remember_me">
							Remember me
						</label>
					</div>

					<div
						class="text-center">
						{# <a href="{{ path('app_forgot_password_request') }}">Forgot your password?</a> #}
						<a href="" style="color:grey">Forgot your password?</a>
					</div>
					<br>
					<div class="d-flex justify-content-center mb-3">
						<button class="btn" type="submit" style="background-color:#669c19;color:white;padding:12px;font-size:20px">
							Login
						</button>
					</div>
					<div
						class="text-center">
						{# <a href="{{ path('app_forgot_password_request') }}">Forgot your password?</a> #}
						<a href="/register" style="color:grey">Don't have an Account? Register</a>
					</div>
				</form>
			</div>
		</div>
	</div>
{% endblock %}
